<!--name:registration/login.html
author:Tristan Tew (ttew@bu.edu)
description: This login page is used to make access to the 
CSC database secure via django auth and forms-->

<!--Here's my CSS template for the project; I found it on templated.co 
and is called Intensify-->
<head>
    <link rel="stylesheet" href="https://cs-people.bu.edu/ttew/assets/css/main.css">
</head>

<div style="margin: 50px 40%;">
<center>
    
<h1>CSC Database Authorized User Login</h1>
<hr>
<br>
<!--Static image for display-->
<img src="https://www.bu.edu/csc/files/titlebar.gif" style="max-width: max-content;">
<br>
<br>
<br>

<!--login button-->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button style="font-family: 'Lucida Sans'; font-size: x-large;",value="submit">Sign in</button>
    </form>
</center>
</div>