<!--/registration/login.html
Tristan Tew (ttew@bu.edu)
This login page is used to make access to the 
CSC database secure-->
<head>
    <link rel="stylesheet" href="https://cs-people.bu.edu/ttew/assets/css/main.css">
</head>
<div style="margin: 50px 40%;">
<center>
<h1>CSC Database Authorized User Login</h1>
<hr>
<br>
<img src="https://www.bu.edu/csc/files/titlebar.gif" style="max-width: max-content;">
<br>
<br>
<br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button style="font-family: 'Lucida Sans'; font-size: x-large;",value="submit">Sign in</button>
</form>
</center>
</div>