<!--all_partners.html
Tristan Tew (ttew@bu.edu
This code creates the all community partners display view-->

<head>
    <title>CSC Community Partners</title>
</head>

{% extends 'project/base.html'%}
{% block content %}
{% if user.is_authenticated %}
<center>
<table>
    <colgroup>
        <col span='4' style="width: 25%">
    </colgroup>
    <tr style="font-size: 24px; font-variant-caps: petite-caps;">
        <th><center>Name</center></th>
        <th><center>Logo</center></th>
        <th><center>Focus Area</center></th>
        <th><center><a href ="{% url 'add_partner' %}"><button style="background-color: cornflowerblue;">
            Add New Partner</button></a></center></th>
    </tr>
    {% for partner in all_partners %}
    <center>
    <tr>
        <td style="font-size: 24; font-style: italic;"><center><a href ="{% url 'show_partner' partner.pk %}">{{partner.cp_name}}</a>
            </center></td>
        <td><center><img src="{{partner.cp_image.url}}" style="max-width: 250;"></center></td>
        <td style="font-size: 24;"><center>{{partner.cp_type}}</center></td>
        <td style="font-size: 24; color: rgb(204,0,0);"><center><a style="all:unset" href="{% url 'delete_partner' partner_pk=partner.pk %}">
        <button>Delete Partner</button></a></center></a></td>
    </tr>
</center>
{% endfor %}
</table>
</center>
{% else %}
Please <a style="all:unset" href = "{% url 'login' %}">log in</a> to the database to view this page. 
{% endif %}

{% endblock %}