<head>
    <title>CSC Events</title>
</head>

{% extends 'project/base.html'%}
{% block content %}
{% if user.is_authenticated %}
<table  style="font-size: 24px;">
    <tr>
        <th><center>Event Name</center></th>
        <th><center>Event Date</center></th>
        <th><center>Event Duration</center></th>
        <th><center>Community Partner</center></th>
        <th><center>Capacity</center></th>
        <th> </th><!--Left blank so that the CSS element for this row looks even-->
    </tr>
    {% for event in volunteer.event_list %}
    <tr>
        <td><center><a href="{% url 'show_event' event.pk %}">{{event.event_name}}</a></center></td>
        <td><center>{{event.service_date}}</center></td>
        <td><center>{{event.duration}}</center></td>
        <td><center><a href ="{% url 'show_partner' event.cp.pk %}">{{event.cp.cp_name}}</center></a></td>
        <td><center>{{event.attendance}}/{{event.capacity}}</center></td>
        <td><center><form method='GET' action= "{% url 'add_vol_to_event' volunteer_pk=volunteer.pk event_pk=event.pk %}"> <!--url only loads when a value is hard-coded in; homepage works fine -->
        {% csrf_token %}
        <input type='submit' name='Add to Event' value='Add to Event'></center></form></td>
    </tr>
{% endfor %}
</table>
{% else %}
Please <a href = "{% url 'login' %}">log in</a> to the database to view this page. 
{% endif %}

{% endblock %}