<!--name: landing_page.html
author: Tristan Tew (ttew@bu.edu)
description: This is the first page that the user is directed to on the CSC 
Database and allows them to sign in. Use of this page makes the data secure
by requiring a superuser to log in-->

<head>
    <link rel="stylesheet" href="https://cs-people.bu.edu/ttew/assets/css/main.css">
</head>

<!--Css is from Templated.co and named intensify-->

<center>
<div style="margin: 50px 40%;">
    <h1>You have accessed the CSC Database</h1>

<p>
    <h3>Use the buttons below to either advance to the database or go back to the CSC website</h3>
    To log in for grading the CS108 project, use azs for the username and cascs108 as the password.
    <ul><a style="all:unset" href = "{% url 'login' %}"><button>Proceed to Database</button></a></ul>
    <!--sends to Django login-->
    <ul><a style="all:unset" href = "https://www.bu.edu/csc"><button>Return to CSC Homepage</button></a></ul>
    <!--Link to CSC page because this is supposed to be a supplement to the CSC-->
</p>

</div>
</center>