<!--add_partner.html
tristan tew
this page depicts the add a volunteer page and submits 
user inputs to the server-->
<head>
    <title>Add New Partner</title>
</head>

{% extends 'csc_database/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<form method='POST'>
{% csrf_token %}
<!--CSRF used to verify posts with the server/prevent SQL injection-->
    <table>
    {% for field in form %}
    <!--Loop used to populate the page with volunteer attributes-->
    <tr>
        <th>{{field.label}}</th>
        <td>{{field}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>
        <input type="submit" value="Add Partner" name="Add Partner">
        </td>
    </tr>
    </table>
</form>
{% else %}
Please <a href = "{% url 'login' %}">log in</a> to the database to view this page. 
{% endif %}
{% endblock %}