<!--all_volunteers.html 
tristan tew (ttew@bu.edu
Displays all volunteers in the CSC-->

<head>
    <title>CSC Volunteers</title>
</head>

{% extends 'csc_database/base.html'%}

{% block content %}

{% if user.is_authenticated %}
<a href ="{% url 'add_volunteer' %}">Add New Volunteer</a>
<table>
    <colgroup>
        <col span='1' style="width: 32%">
        <col span='1' style="width: 23%">
        <col span='1' style="width: 23%">
        <col span='1' style="width: 22%">
    </colgroup>
    <tr>
        <center>
        <th>Name</th>
        <th>BU ID</th>
        <th>Class Year</th>
        <th>Area of Interest</th>
        </center>
    </tr>
    {% for volunteer in all_volunteers %}
    <tr>
        <center>
        <td><a href ="{% url 'show_volunteer' volunteer.pk %}">{{volunteer.first_name}} {{volunteer.last_name}}</a></td>
        <td>{{volunteer.bu_id}}</td>
        <td>{{volunteer.class_year}}</td>
        <td>{{volunteer.pref_service}}</td>
        <td><a href="{% url 'delete_volunteer' volunteer_pk=volunteer.pk %}">Delete Volunteer</a></td>
        </center>
    </tr>
    {% endfor %}
</table>
{% else %}
Please <a href = "{% url 'login' %}">log in</a> to the database to view this page. 
{% endif %}

{% endblock %}
