<!--all_volunteers.html 
tristan tew (ttew@bu.edu
Displays all volunteers in the CSC-->

<head>
    <title>CSC Volunteers</title>
</head>

{% extends 'csc_database/base.html'%}

{% block content %}

{% if user.is_authenticated %}
<center>
<table>
    <colgroup>
        <col span='5' style="width: 20%">
    </colgroup>
    <tr style="font-size: x-large; font-variant-caps: petite-caps;">
        <th>Name</th>
        <th>BU ID</th>
        <th>Class Year</th>
        <th>Area of Interest</th>
        <th><a href ="{% url 'add_volunteer' %}"><button style="background-color: cornflowerblue;">Add New Volunteer</button></a></button>
        </th>
    </tr>
    {% for volunteer in all_volunteers %}
    <center>
    <tr style="font-size: x-large;">
        <td style="font-style: italic;">
            <a href ="{% url 'show_volunteer' volunteer.pk %}">{{volunteer.first_name}} {{volunteer.last_name}}</a></td>
        <td style="color: rgb(39, 39, 39);">{{volunteer.bu_id}}</td>
        <td style="color: rgb(39, 39, 39);">{{volunteer.class_year}}</td>
        <td style="color: rgb(39, 39, 39);">{{volunteer.pref_service}}</td>
        <td style="color: rgb(204, 0, 0);"><a style="all:unset" href="{% url 'delete_volunteer' volunteer_pk=volunteer.pk %}"><button>Delete Volunteer</button></a></a></td>
    </tr>
</center>
    {% endfor %}
</table>
</center>
{% else %}
Please <a href = "{% url 'login' %}">log in</a> to the database to view this page. 
{% endif %}
{% endblock %}
