<head>
    <title>CSC Events</title>
</head>

{% extends 'csc_database/base.html'%}
{% block content %}
{% if user.is_authenticated %}
<table>
    <tr>
        <th>Event Name</th>
        <th>Event Date</th>
        <th>Event Duration</th>
        <th>Community partner</th>
    </tr>
    {% for event in volunteer.eventlist %}
    <tr>
    <td><a href="{% url 'show_event' event.pk %}">{{event.event_name}}</a></td>
    <td>{{event.service_date}}</td>
    <td>{{event.duration}}</td>
    <td><a href ="{% url 'show_partner' event.cp.pk %}">{{event.cp.cp_name}}</a></td>
    <td><form method='GET' action= "{% url 'add_to_event' volunteer_pk=volunteer.pk event_pk=event.pk %}"> <!--url only loads when a value is hard-coded in; homepage works fine -->
        {% csrf_token %}
        <input type='submit' name='Add to Event' value='Add to Event'></form></td>
    </tr>
{% endfor %}
</table>
{% else %}
Please <a href = "{% url 'login' %}">log in</a> to the database to view this page. 
{% endif %}

{% endblock %}