
{% extends 'csc_database/base.html' %}
<head>
    <Title>Delete {{event.event_name}}</Title>
</head>

{% block content %}
{% if user.is_authenticated %}
<center>
<h1>Are you sure you want to delete {{event.event_name}} on {{event.service_date}}?</h1>
<div>
    <ul>
        <form method='POST'>
            {% csrf_token %}
            <input type = 'submit' value='Delete'>
        </form>
    </ul>
    <ul>
        <form method='GET' action = "{% url 'all_events' %}">
            {% csrf_token %}
            <input type = 'submit' value ='Go Back'>
        </form>
    </ul>
</div>
</center>
{% else %}
Please <a href = "{% url 'login' %}">log in</a> to the database to view this page. 
{% endif %}

{% endblock %}