
{% extends 'csc_database/base.html' %}
<head>
    <Title> Delete {{volunteer.first_name}} {{volunteer.last_name}}</Title>
</head>

{% block content %}
{% if user.is_authenticated %}

<center>
    <h1>Are you sure you want to delete {{volunteer.first_name}} {{volunteer.last_name}}'s information?</h1>
    <div>
        <ul>
            <form method='POST'>
                {% csrf_token %}
                <input type = 'submit' value='Delete'>
            </form>
        </ul>
        <ul>
            <form method='GET' action = "{% url 'all_volunteers' %}">
                {% csrf_token %}
                <input type = 'submit' value ='Go Back'>
            </form>
        </ul>
    </div>
    </center>
{% else %}
Please <a href = "{% url 'login' %}">log in</a> to the database to view this page. 
{% endif %}

{% endblock %}