
{% extends 'csc_database/base.html' %}
<head>
    <Title> Delete Partner</Title>
</head>

{% block content %}
{% if user.is_authenticated %}

<p>
    Are you sure you want to delete {{partner.cp_name}}?
<table>
    <td>
        <form method='POST'>
            {% csrf_token %}
            <input type = 'submit' value='Delete'>
        </form>
    </td>
    <td>
        <form method='GET' action = "{% url 'all_partners' %}">
            {% csrf_token %}
            <input type = 'submit' value ='Go Back'>
        </form>
    </td>
</table>
</p>

{% else %}
Please <a href = "{% url 'login' %}">log in</a> to the database to view this page. 
{% endif %}

{% endblock %}