<head>
    <title>Welcome!</title>
</head>

{% extends 'csc_database/base.html'%}

{% block content %}
{% if user.is_authenticated %}
<p>
Welcome to the CSC Database Homepage!
You can see an interactive week at a glance using the table below. 
To check or create information for partners, volunteers, events, or impact reports, use the navigation in the page header. 
</p>
<center>
<h2>This Week's Events</h2>
{% if event %}
{% for event in event %}
<table>
    <th>Event Name</th>
    <th>Event Date</th>
    <th>Volunteer Spots Filled</th>
    <tr>
    <td><a href="{% url 'show_event' event.pk %}">{{event.event_name}}</a></td>
    <td>{{event.service_date}}</td>
    <td>{{event.attendance}}/{{event.capacity}}</td>
    </tr>
</table>
{% endfor %}
{% else %}
There are no events this week, would you like to <a href = "{% url 'add_event' %}">add one?</a>
{% endif %}
<h2>Impact Report to Date</h2>
<p>Boston University Students have completed X service events for a total of Y hours.
<br>
The estimated financial equivalent of this service is $Z. </p>
</center>
{% else %}
Please <a href = "{% url 'login' %}">log in</a> to the database to view this page. 
{% endif %}
{% endblock %}