<!--CSC Database Landing Page
Tristan Tew (ttew@bu.edu)
This is the first page that the user is directed to on the CSC 
Database and allows them to sign in. Use of this page makes the data secure
by requiring a superuser to log in-->
<head>
    <link rel="stylesheet" href="http://cs-people.bu.edu/ttew/assets/css/main.css">
</head>
Hello! Please <a href = "{% url 'login' %}">log in</a> to the database to view this page.<br>
You will ~not~ get a virus from clicking it, I just have not made this page look nice yet. <br>
To log the username name is ttew and the password is superuser. 