{% extends 'csc_database/base.html' %}
<head>
    <Title> {{volunteer.first_name}}'s Volunteer History</Title>
</head>

{% block content %}
<center>
<h1>{{volunteer.first_name}} {{volunteer.last_name}}'s Volunteer History</h1>
</center>
<br>
<table>
    <tr>
    <td>
    <table>
        <h2>
            Volunteer Information
        </h2>
        <tr style="font-size: 20px;">
            <td>Name:</td>
            <td> {{volunteer.first_name}} {{volunteer.last_name}}</td>
        </tr>
        <tr style="font-size: 20px;">
            <td>Class Year:</td>
            <td>{{volunteer.class_year}}</td>
        </tr>
        <tr style="font-size: 20px;">
            <td>BU ID:</td>
            <td>{{volunteer.bu_id}}</td>
        </tr>
        <tr style="font-size: 20px;">
            <td>Phone:</td>
            <td> {{volunteer.phone}}</td>
        </tr>
        <tr style="font-size: 20px;">
            <td>Email:</td>
            <td> {{volunteer.email}}</td>
        </tr>
        <tr style="font-size: 20px;">
            <td>Service Focus Area:</td>
            <td> {{volunteer.pref_service}}</td>
        </tr>
        <tr><td><a style="all:unset" href="{% url 'update_volunteer' volunteer.pk %}"><button>
            Edit {{volunteer.first_name}}'s Information</button></a></td>
        <td><a style="all:unset" href="{% url 'assign_vol' volunteer.pk %}"><button style="background-color: cornflowerblue;">
            Assign {{volunteer.first_name}} to event</button></a></td></tr>
    </table>
    </td>
    <td>
    <h2>Upcoming Service Events</h2>
    <table>
        {% if volunteer.incomplete_events %}
        <tr>
            <center>
            <th>Opportunity Name</th>
            <th>Date and Time</th>
            <th>Hours</th>
            <th> </th>
            </center>
        </tr>
        {% for event in volunteer.incomplete_events %}
        <center>
        <tr>
            <td><a href = "{% url 'show_event' event.pk %}">{{event.event_name}}</a></td>
            <td>{{event.service_date}}</td>
            <td>{{event.duration}}</td>
            <td><form method='GET' action= "{% url 'remove_vol_from_event' volunteer_pk=volunteer.pk event_pk=event.pk %}">
                {% csrf_token %}
                <input type='submit' value='Remove'></form></td>
            </td>
        </tr>
        </center>
        {% endfor %}
        {% else %}
    </table>
        {{volunteer.first_name}} is not scheduled for any future events. 
        {% endif %}
    </table>
    </td>
    </tr>
</table>
<br>
<table>
    <tr>
    <td>
    <h2>Past Service Events</h2>
    <table>
        {% if volunteer.completed_events %}
        <tr>
            <center>
            <th>Opportunity Name</th>
            <th>Date and Time</th>
            </center>
        </tr>
        {% for event in volunteer.completed_events %}
        <center>
        <tr>
            <td><a href = "{% url 'show_event' event.pk %}">{{event.event_name}}</a></td>
            <td>{{event.service_date}}</td>
        </tr>
        </center>
        {% endfor %}
        {% else %}
        {{volunteer.first_name}} has not signed up for an event before. 
        {% endif %}
    </table>
    </td>
    <td>
    <h2>Individual Volunteer Impact</h2>
    {% if volunteer.hours_served %}
    <p style="font-size: 26px;">
    {{volunteer.first_name}} has served {{volunteer.hours_served}} hours.<br>
    {{volunteer.first_name}} has attended {{volunteer.number_completed}} events. 
    </p>
    {% else %}
    <p style="font-size: 26px;">
    {{volunteer.first_name}} has not performed any service.
    </p>
    {% endif %}
    </td>
    </tr>
</table>
{% endblock %}