<!--show_all_profiles.html.html
Tristan Tew
profile pages for all-->
<head>
    <title>MiniFacebook</title>
</head>

{% extends 'mini_fb/base.html'%}

{% block content %}
<h1>MiniFacebook</h1>

<h2> Showing All Profiles</h2>
<!--Border used to debug the layout of the table; even
column widths used for visualization-->
<table border=0>
    <colgroup>
        <col span='1' style="width: 30%">
        <col span='1' style="width: 30%">
        <col span='1' style="width: 30%">
    </colgroup>
    <tr>
        <th>Name</th>
        <th>Hometown</th>
        <th>Image</th>
    </tr>
    <!--For loop to populate the table that utilizes profile data-->
    {% for profile in show_all_profiles %}
    <tr>
        <td><a href="{% url 'show_profile_page' profile.pk %}">{{profile.first_name}} {{profile.last_name}} </a></td>
        <td>{{profile.city}}</td>
        <td><a href="{% url 'show_profile_page' profile.pk %}"> <img src="{{profile.profile_image_url}}" style="max-width: 250;"></a></td>
    </tr>
    {% endfor %}

</table>
{% endblock %}
