<!--show_news_feed.html
Tristan Tew
this file depicts the newsfeed for one profile-->

<head>
    <title>Mini Facebook</title>
</head>

{% extends 'mini_fb/base.html'%}

{% block content %}
<hr>
<a href="{% url 'show_profile_page' profile.pk%}">Back to {{profile.first_name}}'s profile</a>
<h1> {{profile.first_name}}'s Newsfeed </h1>
<table border="0" cellspacing='15'>
    <!-- the following for loop populates a table with every new status entry-->
    {% for status in profile.get_news_feed %} <!--Statuses have been appended to access their specific attribute in each scriplet-->
    <tr>
        <td>{{status.timestamp}}</td>
        <td><a href ="{% url 'show_profile_page' status.profile.pk%}">
            {{status.profile.first_name}} {{status.profile.last_name}}</a></td>
        <td>
            <img src="{{status.profile.profile_image_url}}" style="max-width: 150; max-height: 150">
        </td>
        <td>{{status.message}}  <br>
            {% if status.image %}
            <img src='{{status.image.url}}' style='max-height: 150; max-width: 150;'><!--Updated size bounds to make statuses display more cleanly -->
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<hr>
{% endblock %}