<!-- show_all_profiles.html Tristan Tew
this template correctly formats the data for 
the mini fb profiles-->
<head>
    <title>Mini Facebook</title>
</head>
{% extends 'mini_fb/base.html' %}

{% block content %}
<!--The profile name was centered to match the example-->
<center>
<h2> {{profile.first_name}} {{profile.last_name}}</h2>
<!--The image profile width -->
<img src="{{profile.profile_image_url}}" style="max-width: 800;max-height: 600;">
</center>
<!--table used for the rest of the information so it was evenly spaced-->
<table>
    <tr>
        <td>{{profile.city}}</td>
    </tr>
    <tr>
        <td>{{profile.email_address}}</td>
    </tr>
</table>
    <a href="{% url 'update_profile' profile.pk %}">Edit Profile</a>
<br>
<!--The following table lays out the interface for posting a status-->
<form method='POST', enctype="multipart/form-data", action="{% url 'post_status' profile.pk %}">
    <!-- the line above includes an action that will post the contents of this message 
    to the associated profile using the url for posting statuses-->
    {% csrf_token %}
    <table>
    {% for field in create_status_form %}
        <tr>
            <th>{{field.name}}</th>
            <td>{{field}}</td>
        </tr>
    {% endfor %}
        <tr>
            <td>
            <input type="submit" name="Post Status" value="Post Status">
            </td>
        </tr>
    </table>
</form>
<h1>Status Messages</h1>
<!--The following table lays out the interface for statuses posted by a user-->
<table>
    <tr>
        <th>Time</th>
        <th>Message</th>
    <!-- the following for loop populates a table with every new status entry-->
    </tr>
    {% for status in profile.get_status_messages %}
    <tr>
        <td>{{status.timestamp}}</td>
        <td>{{status.message}}   
            <br>
        {% if status.image %}
            <img src='{{status.image.url}}' style='max-width: 600;'>
            {% endif %}
        </td>
        <td><a href="{% url 'delete_status' profile_pk=profile.pk status_pk=status.pk %}">Delete</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
